[Desktop Entry]
Version=1.0
Type=Application
Name=Hosts Editor
Comment=Linux MacOS Windows Hosts File Editor
Exec=hosts %U
Icon=icon.png
Terminal=false
Categories=Utility;Application;
StartupNotify=true